<div id="cadastro">
    <mat-card>
        <h2>Bem-vindo a Wilhelm Wundt</h2>
        <mat-divider></mat-divider>
        <p>
            Somos uma clínica psicológica renomada com mais de 50 anos ajudando milhares de pessoas. Você está no nosso
            sistema online de cadastros e agendamentos, aqui você pode realizar um cadastro, fazer agendamentos de
            consultas
            com um profissional da sua preferência e consultar data e horário de consultas agendadas. Fazemos consultas
            presencialmente e online. Deseja se cadastrar? Se sim, clique no botão abaixo.
        </p>
        <mat-divider></mat-divider>
        <a mat-flat-button color="secondary" routerLink="newuser">Criar cadastro</a>
    </mat-card>
</div>