<button mat-raised-button routerLink="home" *ngIf="currentRoute === 'home'">Home</button>
<button mat-stroked-button routerLink="home" *ngIf="currentRoute !== 'home'">Home</button>

<button mat-raised-button *ngIf="currentRoute === 'appointment' && user.tipo === 'paciente'" routerLink="appointment">Agendar uma sessão</button>
<button mat-stroked-button *ngIf="currentRoute !== 'appointment' && user.tipo === 'paciente'" routerLink="appointment">Agendar uma sessão</button>

<button mat-raised-button routerLink="register" *ngIf="currentRoute === 'register' && user.tipo === 'psicologo'">Registrar sessão</button>
<button mat-stroked-button routerLink="register" *ngIf="currentRoute !== 'register' && user.tipo === 'psicologo'">Registrar sessão</button>

<button mat-raised-button routerLink="session" *ngIf="currentRoute === 'session' && user.tipo === 'paciente'">Sessões passadas</button>
<button mat-stroked-button routerLink="session" *ngIf="currentRoute !== 'session' && user.tipo === 'paciente'">Sessões passadas</button>

<button mat-raised-button routerLink="session" *ngIf="currentRoute === 'session' && user.tipo === 'psicologo'">Sessões passadas</button>
<button mat-stroked-button routerLink="session" *ngIf="currentRoute !== 'session' && user.tipo === 'psicologo'">Sessões passadas</button>

<button mat-raised-button routerLink="userdata" *ngIf="currentRoute === 'userdata'">Seus dados</button>
<button mat-stroked-button routerLink="userdata" *ngIf="currentRoute !== 'userdata'">Seus dados</button>

<button mat-stroked-button (click)="onLogOut()">Deslogar</button>
